# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Configuration & Secrets (SANGAT PENTING)
.env
.env.*

# Local Database & Log
*.db
*.sqlite3
*.log

# Folder Barcode & Uploads (Biar data testing di laptop gak ikut ke upload)
static/uploads/profile_pics/*
!static/uploads/profile_pics/.gitkeep
barcodes/

# OS files
.DS_Store
Thumbs.db
