bcrypt
blinker
click
colorama
distlib
email-validator
filelock
Flask
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
pillow
platformdirs
protobuf
setuptools
wheel
WTForms
python-barcode
gunicorn
psycopg2-binary